body{
    font-family: cursive;
    margin: auto; 
}

.img-description{
    display: flex;
}

.img-description img{
    margin-left: 100px;
    margin-right: 30px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(17, 77, 17);
}

.description{
    font-size: x-large;
}

.liste-carte{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.liste-carte button{
    border-radius: 10px;
    border-style: solid;
    border-color: green;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(17, 77, 17);
    color: white;
    font-family: cursive;
    font-size: large;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.liste-carte button:hover{
    background-color: rgb(35, 167, 35);
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    transition: 0.5s;
}

select{
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-family: cursive;
} 